@{
    ViewData["Title"] = "Easy Email Discussion";
}

<hgroup>
    <h1>Welcome</h1>
    <h2>Hello! Welcome to your email lists.</h2>
</hgroup>

<article>
    <a role=button href="~/List/New"><i class="icofont-ui-add"></i> Create New Discussion List</a>
</article>