@{
    ViewData["Title"] = "Easy Email Discussion";
}

<hgroup>
    <h1>Welcome</h1>
    <h2>Hello! Welcome to your email lists.</h2>
</hgroup>

<article>
    <a role=button href="~/List"><i class="icofont-list"></i> Discussion Lists</a>
    <a role=button href="~/Contact"><i class="icofont-ui-user"></i> Contacts</a>
</article>