<?xml version="1.0" encoding="utf-8"?>
<configuration verbosity="Warn">
  <dduetools>
    <builder>
      <componentLocations>
        <location folder="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project" />
      </componentLocations>
      <components>
        <component id="Switch Component">
          <switch value="string(/document/@type)" />
          <case value="API">
            <!-- Create skeleton document -->
            <component id="Copy From File Component">
              <data file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Components\VS2010\Transforms\skeleton.xml" />
              <copy source="/document/*" target="/document" />
            </component>
            <!-- Copy in reflection data -->
            <component id="Copy From Index Component">
              <index name="reflection" value="/reflection/apis/api" key="@id" cache="15">
                <data base="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Data\.NET" recurse="true" files="*.xml" duplicateWarning="false">
                  <namespace file="System.xml" />
                  <namespace file="System.Reflection.Emit.xml" />
                  <namespace file="System.Reflection.xml" />
                  <namespace file="System.Runtime.InteropServices.xml" />
                  <namespace file="System.Collections.xml" />
                  <namespace file="System.Collections.Generic.xml" />
                  <namespace file="System.Globalization.xml" />
                  <namespace file="System.Threading.xml" />
                  <namespace file="System.Security.xml" />
                  <namespace file="System.IO.xml" />
                  <namespace file="System.Collections.ObjectModel.xml" />
                  <namespace file="System.ComponentModel.xml" />
                  <namespace file="System.Diagnostics.xml" />
                  <namespace file="System.Runtime.xml" />
                  <namespace file="System.Runtime.CompilerServices.xml" />
                  <namespace file="System.Runtime.ExceptionServices.xml" />
                  <namespace file="System.Runtime.Versioning.xml" />
                  <namespace file="System.Text.xml" />
                  <namespace file="System.Linq.xml" />
                  <namespace file="System.Text.Json.xml" />
                  <namespace file="System.Runtime.Serialization.xml" />
                  <namespace file="System.Text.Json.Serialization.xml" />
                  <namespace file="System.Buffers.xml" />
                  <namespace file="System.Text.Encodings.Web.xml" />
                  <namespace file="System.Text.Unicode.xml" />
                  <namespace file="Microsoft.Extensions.Configuration.xml" />
                  <namespace file="Microsoft.Extensions.Primitives.xml" />
                  <namespace file="System.ComponentModel.DataAnnotations.xml" />
                  <namespace file="System.ComponentModel.DataAnnotations.Schema.xml" />
                  <namespace file="System.Collections.Immutable.xml" />
                  <namespace file="Microsoft.Extensions.DependencyInjection.xml" />
                  <namespace file="Microsoft.Extensions.Logging.xml" />
                  <namespace file="Microsoft.Extensions.Options.xml" />
                  <namespace file="Microsoft.Extensions.Logging.Abstractions.xml" />
                  <namespace file="Microsoft.Extensions.Caching.Distributed.xml" />
                  <namespace file="System.Threading.Tasks.xml" />
                  <namespace file="Microsoft.Extensions.Caching.Memory.xml" />
                  <namespace file="System.Collections.Specialized.xml" />
                  <namespace file="System.Linq.Expressions.xml" />
                  <namespace file="System.Data.Common.xml" />
                  <namespace file="System.Diagnostics.Tracing.xml" />
                  <namespace file="System.Transactions.xml" />
                  <namespace file="System.Net.xml" />
                  <namespace file="System.Net.NetworkInformation.xml" />
                  <namespace file="System.Data.xml" />
                  <namespace file="System.Xml.XPath.xml" />
                  <namespace file="System.Xml.xml" />
                  <namespace file="System.Xml.Xsl.xml" />
                  <namespace file="System.Text.RegularExpressions.xml" />
                  <namespace file="System.Net.Mail.xml" />
                  <namespace file="System.Net.Sockets.xml" />
                  <namespace file="System.Dynamic.xml" />
                  <namespace file="System.Collections.Concurrent.xml" />
                  <namespace file="System.IO.Compression.xml" />
                  <namespace file="System.Security.Cryptography.xml" />
                  <namespace file="System.Security.Cryptography.Pkcs.xml" />
                  <namespace file="System.Security.Cryptography.X509Certificates.xml" />
                  <namespace file="System.Security.Cryptography.Xml.xml" />
                  <namespace file="System.Net.Security.xml" />
                  <namespace file="Microsoft.Extensions.Hosting.xml" />
                  <namespace file="Microsoft.AspNetCore.Builder.xml" />
                  <namespace file="Microsoft.AspNetCore.Hosting.xml" />
                  <namespace file="Microsoft.AspNetCore.Mvc.xml" />
                  <namespace file="Microsoft.AspNetCore.Mvc.Filters.xml" />
                </data>
                <data files="reflection.xml" />
              </index>
              <copy name="reflection" source="*" target="/document/reference" />
            </component>
            <!-- Copy in container data -->
            <component id="Copy From Index Component">
              <copy name="reflection" key="string(/document/reference/containers/namespace/@api)" source="*[not(local-name()='elements')]" target="/document/reference/containers/namespace" />
            </component>
            <component id="For Each Component">
              <variable expression="/document/reference/containers//type/@api" />
              <components>
                <component id="Copy From Index Component">
                  <copy name="reflection" source="topicdata|apidata|typedata|family|templates|attributes" target="/document/reference/containers//type[@api=$key]" />
                </component>
              </components>
            </component>
            <!-- Copy in explicitInterfaceImplemented reflection data -->
            <component id="For Each Component">
              <variable expression="/document/reference/implements/member/@api | /document/reference/implements//type/@api" />
              <components>
                <component id="Copy From Index Component">
                  <copy name="reflection" source="apidata" target="/document/reference/implements//*[@api=$key and not(apidata)]" />
                  <copy name="reflection" source="templates" target="/document/reference/implements//*[@api=$key and not(apidata) and not(specialization)]" />
                </component>
              </components>
            </component>
            <!-- Copy in extension method template/type data -->
            <component id="For Each Component">
              <variable expression="/document/reference/elements//element[@source='extension']/templates//type/@api" />
              <components>
                <component id="Copy From Index Component">
                  <copy name="reflection" source="apidata" target="/document/reference/elements//element[@source='extension']/templates//type[boolean(@api=$key) and not(apidata)]" />
                  <copy name="reflection" source="templates" target="/document/reference/elements//element[@source='extension']/templates//type[boolean(@api=$key) and not(apidata) and not(specialization)]" />
                </component>
              </components>
            </component>
            <!-- Copy in parameter data -->
            <component id="For Each Component">
              <variable expression="/document/reference/parameters/parameter//type/@api" />
              <components>
                <component id="Copy From Index Component">
                  <copy name="reflection" source="apidata" target="/document/reference/parameters/parameter//type[boolean(@api=$key) and not(apidata)]" />
                </component>
              </components>
            </component>
            <!-- Copy in templates type reflection data -->
            <component id="For Each Component">
              <variable expression="/document/reference/templates//type/@api" />
              <components>
                <component id="Copy From Index Component">
                  <copy name="reflection" source="apidata" target="/document/reference/templates//type[@api=$key]" />
                  <copy name="reflection" source="templates" target="/document/reference/templates//type[@api=$key and not(specialization)]" />
                </component>
              </components>
            </component>
            <!-- Copy in return type reflection data -->
            <component id="For Each Component">
              <variable expression="/document/reference/returns//type/@api" />
              <components>
                <component id="Copy From Index Component">
                  <copy name="reflection" source="apidata|typedata|family|templates|containers|attributes" target="/document/reference/returns//type[@api=$key]" />
                </component>
              </components>
            </component>
            <!-- Copy in event handler type reflection data -->
            <component id="For Each Component">
              <variable expression="/document/reference/eventhandler/type/@api" />
              <components>
                <component id="Copy From Index Component">
                  <copy name="reflection" source="apidata|typedata|family|templates|containers|attributes" target="/document/reference/eventhandler/type[@api=$key]" />
                </component>
              </components>
            </component>
            <!-- Generate syntax -->
            <component id="Syntax Component">
              <!-- The input element and the output element. -->
              <syntax input="/document/reference" output="/document/syntax" />
              <!-- The list of syntax generators to use -->
              <generators>
                <generator id="C#" />
              </generators>
              <!-- Group snippets for languages in the syntax generator set within this element -->
              <containerElement name="codeSnippetGroup" addNoExampleTabs="true" includeOnSingleSnippets="false" groupingEnabled="true" />
            </component>
            <!-- Copy in comments -->
            <component id="Copy From Index Component">
              <index name="comments" value="/doc/members/member" key="@name" cache="30">
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\System.Runtime.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\System.Collections.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\System.Linq.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\System.Text.Json.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\System.Text.Encodings.Web.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.Extensions.DependencyModel.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.Extensions.Configuration.Abstractions.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\System.Diagnostics.DiagnosticSource.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\System.ComponentModel.Annotations.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\System.Collections.Immutable.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.Extensions.Logging.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.Extensions.DependencyInjection.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.Extensions.Primitives.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.Extensions.Options.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.Extensions.Logging.Abstractions.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.Extensions.DependencyInjection.Abstractions.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.Extensions.Caching.Abstractions.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.Extensions.Caching.Memory.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.EntityFrameworkCore.Abstractions.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.EntityFrameworkCore.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.EntityFrameworkCore.Relational.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.DotNet.PlatformAbstractions.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.Data.Sqlite.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\Microsoft.EntityFrameworkCore.Sqlite.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\HtmlAgilityPack.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\CommandLine.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\NLog.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\System.Text.Encoding.CodePages.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\System.Security.Cryptography.Pkcs.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\BouncyCastle.Crypto.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\MimeKit.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\MailKit.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\_ProjNS_.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
                <data files="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\Help\Working\_InheritedDocs_.xml" duplicateWarning="false" groupId="Project_Comments_BC4A147E" />
              </index>
              <copy name="comments" source="*" target="/document/comments" />
              <!-- Propagate the parent type's preliminary element to the members too if present -->
              <copy name="comments" key="string(/document/reference/containers/type/@api)" source="preliminary" target="/document/comments" />
            </component>
            <!-- Copy in reflection data and comments for members -->
            <component id="For Each Component">
              <variable expression="/document/reference/elements//element/@api" />
              <components>
                <component id="If Then Component">
                  <if condition="not(/document/reference/elements//element[@api=$key]/apidata)" />
                  <then>
                    <component id="Copy From Index Component">
                      <copy name="reflection" source="*[not(self::elements)]" target="/document/reference/elements//element[@api=$key]" />
                    </component>
                  </then>
                </component>
                <component id="Copy From Index Component">
                  <copy name="comments" source="summary|overloads|example" target="/document/reference/elements//element[@api=$key]" />
                </component>
              </components>
            </component>
            <!-- Copy in comments for the member's declaring type. -->
            <component id="Copy From Index Component">
              <copy name="comments" key="string(/document/reference/containers/type/@api)" source="summary" target="/document/reference/containers" />
            </component>
            <!-- Show missing documentation component configuration.  This must appear before the TransformComponent. -->
            <component id="Show Missing Documentation Component">
              <!-- All elements are optional. -->
              <!-- Auto-document constructors (true by default) -->
              <AutoDocumentConstructors value="true" />
              <!-- Auto-document dispose methods (true by default) -->
              <AutoDocumentDisposeMethods value="true" />
              <!-- Show missing param tags (true by default) -->
              <ShowMissingParams value="true" />
              <!-- Show missing typeparam tags (true by default) -->
              <ShowMissingTypeParams value="true" />
              <!-- Show missing remarks tags (false by default) -->
              <ShowMissingRemarks value="false" />
              <!-- Show missing returns tags (true by default) -->
              <ShowMissingReturns value="true" />
              <!-- Show missing summary tags (true by default) -->
              <ShowMissingSummaries value="true" />
              <!-- Show missing value tags (false by default) -->
              <ShowMissingValues value="false" />
              <!-- Show missing namespace comments (true by default) -->
              <ShowMissingNamespaces value="true" />
              <!-- Show missing include targets (true by default) -->
              <ShowMissingIncludeTargets value="false" />
            </component>
            <!-- Code block component configuration.  This must appear before the TransformComponent. -->
            <component id="Code Block Component">
              <!-- Base path for relative filenames in source attributes (optional) -->
              <basePath value="C:\Users\Jordan\Documents\Gitea\easy-mail-discussion\sandcastle-documentation-project\" />
              <!-- Base output paths for the files (required).  These should match the parent folder of the output
								 path of the HTML files (see each of the SaveComponent instances below). -->
              <outputPaths>
                <path value="Output\Website\" />
              </outputPaths>
              <!-- Allow missing source files (Optional).  If omitted, it will generate errors if referenced source
								 files are missing. -->
              <allowMissingSource value="false" />
              <!-- Remove region markers from imported code blocks.  If omitted, region markers in imported code
								 blocks are left alone. -->
              <removeRegionMarkers value="false" />
              <!-- Code colorizer options (required).
								 Attributes:
										Language syntax configuration file (required)
										XSLT style sheet file (required)
										CSS style sheet file (required)
										Script file (required)
										Disabled (optional, leading whitespace normalization only)
										Default language (optional)
										Enable line numbering (optional)
										Enable outlining (optional)
										Keep XML comment "see" tags within the code (optional)
										Tab size override (optional, 0 = Use syntax file setting)
										Use language name as default title (optional) -->
              <colorizer syntaxFile="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Components\Colorizer\highlight.xml" styleFile="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Components\Colorizer\highlight.xsl" stylesheet="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Components\Colorizer\highlight.css" scriptFile="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Components\Colorizer\highlight.js" disabled="false" language="cs" numberLines="false" outlining="false" keepSeeTags="false" tabSize="0" defaultTitle="true" />
            </component>
            <!-- Transform -->
            <component id="XSL Transform Component">
              <transform file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Components\VS2010\Transforms\main_sandcastle.xsl">
                <argument key="metadata" value="true" />
                <argument key="languages">
                  <language name="CSharp" style="cs" />
                </argument>
              </transform>
            </component>
            <!-- Multi-format output component.  This must wrap the component set unique to each output file format. -->
            <component id="Multi-format Output Component">
              <!-- This defines the formats to generate -->
              <build formats="Website" />
              <!-- This defines the set of components for HTML Help 1 files -->
              <helpOutput format="HtmlHelp1">
                <!-- Add additional header resources -->
                <component id="Additional Header Resources Component">
                  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
                  <stylesheet name="../styles/branding-Help1.css" />
                </component>
                <!-- Resolve shared content -->
                <component id="Shared Content Component">
                  <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Components\VS2010\Content\shared_content.xml" />
                  <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Components\VS2010\Content\reference_content.xml" />
                  <!-- These must be last in order to override other elements! -->
                  <content file="SHFBContent.xml" />
                  <content file="AspNet.xml" />
                  <content file="CSharp.xml" />
                  <content file="FSharp.xml" />
                  <content file="JavaScript.xml" />
                  <content file="JScript.xml" />
                  <content file="JSharp.xml" />
                  <content file="ManagedCPlusPlus.xml" />
                  <content file="VisualBasic.xml" />
                  <content file="VisualBasicUsage.xml" />
                  <content file="XAML.xml" />
                  <content file="XSharp.xml" />
                </component>
                <!-- Resolve conceptual links -->
                <component id="Resolve Conceptual Links Component">
                  <showBrokenLinkText value="true" />
                  <targets base="xmlComp" type="Local" />
                </component>
                <!-- Resolve reference links -->
                <component id="Resolve Reference Links Component">
                  <locale value="en-us" />
                  <linkTarget value="_blank" />
                  <memberIdUrlCache path="C:\Users\Jordan\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\MemberIdUrl.cache" />
                  <targets base="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Data\.NET" recurse="true" files="*.xml" type="msdn" id="FrameworkTargets">
                    <namespace file="System.xml" />
                    <namespace file="System.Reflection.Emit.xml" />
                    <namespace file="System.Reflection.xml" />
                    <namespace file="System.Runtime.InteropServices.xml" />
                    <namespace file="System.Collections.xml" />
                    <namespace file="System.Collections.Generic.xml" />
                    <namespace file="System.Globalization.xml" />
                    <namespace file="System.Threading.xml" />
                    <namespace file="System.Security.xml" />
                    <namespace file="System.IO.xml" />
                    <namespace file="System.Collections.ObjectModel.xml" />
                    <namespace file="System.ComponentModel.xml" />
                    <namespace file="System.Diagnostics.xml" />
                    <namespace file="System.Runtime.xml" />
                    <namespace file="System.Runtime.CompilerServices.xml" />
                    <namespace file="System.Runtime.ExceptionServices.xml" />
                    <namespace file="System.Runtime.Versioning.xml" />
                    <namespace file="System.Text.xml" />
                    <namespace file="System.Linq.xml" />
                    <namespace file="System.Text.Json.xml" />
                    <namespace file="System.Runtime.Serialization.xml" />
                    <namespace file="System.Text.Json.Serialization.xml" />
                    <namespace file="System.Buffers.xml" />
                    <namespace file="System.Text.Encodings.Web.xml" />
                    <namespace file="System.Text.Unicode.xml" />
                    <namespace file="Microsoft.Extensions.Configuration.xml" />
                    <namespace file="Microsoft.Extensions.Primitives.xml" />
                    <namespace file="System.ComponentModel.DataAnnotations.xml" />
                    <namespace file="System.ComponentModel.DataAnnotations.Schema.xml" />
                    <namespace file="System.Collections.Immutable.xml" />
                    <namespace file="Microsoft.Extensions.DependencyInjection.xml" />
                    <namespace file="Microsoft.Extensions.Logging.xml" />
                    <namespace file="Microsoft.Extensions.Options.xml" />
                    <namespace file="Microsoft.Extensions.Logging.Abstractions.xml" />
                    <namespace file="Microsoft.Extensions.Caching.Distributed.xml" />
                    <namespace file="System.Threading.Tasks.xml" />
                    <namespace file="Microsoft.Extensions.Caching.Memory.xml" />
                    <namespace file="System.Collections.Specialized.xml" />
                    <namespace file="System.Linq.Expressions.xml" />
                    <namespace file="System.Data.Common.xml" />
                    <namespace file="System.Diagnostics.Tracing.xml" />
                    <namespace file="System.Transactions.xml" />
                    <namespace file="System.Net.xml" />
                    <namespace file="System.Net.NetworkInformation.xml" />
                    <namespace file="System.Data.xml" />
                    <namespace file="System.Xml.XPath.xml" />
                    <namespace file="System.Xml.xml" />
                    <namespace file="System.Xml.Xsl.xml" />
                    <namespace file="System.Text.RegularExpressions.xml" />
                    <namespace file="System.Net.Mail.xml" />
                    <namespace file="System.Net.Sockets.xml" />
                    <namespace file="System.Dynamic.xml" />
                    <namespace file="System.Collections.Concurrent.xml" />
                    <namespace file="System.IO.Compression.xml" />
                    <namespace file="System.Security.Cryptography.xml" />
                    <namespace file="System.Security.Cryptography.Pkcs.xml" />
                    <namespace file="System.Security.Cryptography.X509Certificates.xml" />
                    <namespace file="System.Security.Cryptography.Xml.xml" />
                    <namespace file="System.Net.Security.xml" />
                    <namespace file="Microsoft.Extensions.Hosting.xml" />
                    <namespace file="Microsoft.AspNetCore.Builder.xml" />
                    <namespace file="Microsoft.AspNetCore.Hosting.xml" />
                    <namespace file="Microsoft.AspNetCore.Mvc.xml" />
                    <namespace file="Microsoft.AspNetCore.Mvc.Filters.xml" />
                  </targets>
                  <targets files="reflection.xml" type="Local" id="ProjectTargets" />
                </component>
                <!-- Convert language-specific text spans to script elements -->
                <component id="Language-Specific Text Component" />
                <!-- Save the result -->
                <component id="Save Component">
                  <save base="Output\HtmlHelp1\html" path="concat(/html/head/meta[@name='file']/@content,'.htm')" indent="false" omit-xml-declaration="true" add-xhtml-namespace="false" groupId="Help1 API" boundedCapacity="100" />
                </component>
              </helpOutput>
              <!-- This defines the set of components for MS Help Viewer files -->
              <helpOutput format="MSHelpViewer">
                <!-- Add additional header resources -->
                <component id="Additional Header Resources Component">
                  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
                  <stylesheet name="styles/branding-HelpViewer.css" />
                </component>
                <!-- Resolve shared content -->
                <component id="Shared Content Component">
                  <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Components\VS2010\Content\shared_content.xml" />
                  <!-- Override the paths for MS Help Viewer -->
                  <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Components\VS2010\Content\shared_content_mshc.xml" />
                  <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Components\VS2010\Content\reference_content.xml" />
                  <!-- These must be last in order to override other elements! -->
                  <content file="SHFBContent.xml" />
                  <content file="AspNet.xml" />
                  <content file="CSharp.xml" />
                  <content file="FSharp.xml" />
                  <content file="JavaScript.xml" />
                  <content file="JScript.xml" />
                  <content file="JSharp.xml" />
                  <content file="ManagedCPlusPlus.xml" />
                  <content file="VisualBasic.xml" />
                  <content file="VisualBasicUsage.xml" />
                  <content file="XAML.xml" />
                  <content file="XSharp.xml" />
                </component>
                <!-- Resolve conceptual links -->
                <component id="Resolve Conceptual Links Component">
                  <showBrokenLinkText value="true" />
                  <targets base="xmlComp" type="Id" />
                </component>
                <!-- Resolve reference links -->
                <component id="Resolve Reference Links Component">
                  <locale value="en-us" />
                  <linkTarget value="_blank" />
                  <memberIdUrlCache path="C:\Users\Jordan\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\MemberIdUrl.cache" />
                  <targets base="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Data\.NET" recurse="true" files="*.xml" type="msdn" id="FrameworkTargets">
                    <namespace file="System.xml" />
                    <namespace file="System.Reflection.Emit.xml" />
                    <namespace file="System.Reflection.xml" />
                    <namespace file="System.Runtime.InteropServices.xml" />
                    <namespace file="System.Collections.xml" />
                    <namespace file="System.Collections.Generic.xml" />
                    <namespace file="System.Globalization.xml" />
                    <namespace file="System.Threading.xml" />
                    <namespace file="System.Security.xml" />
                    <namespace file="System.IO.xml" />
                    <namespace file="System.Collections.ObjectModel.xml" />
                    <namespace file="System.ComponentModel.xml" />
                    <namespace file="System.Diagnostics.xml" />
                    <namespace file="System.Runtime.xml" />
                    <namespace file="System.Runtime.CompilerServices.xml" />
                    <namespace file="System.Runtime.ExceptionServices.xml" />
                    <namespace file="System.Runtime.Versioning.xml" />
                    <namespace file="System.Text.xml" />
                    <namespace file="System.Linq.xml" />
                    <namespace file="System.Text.Json.xml" />
                    <namespace file="System.Runtime.Serialization.xml" />
                    <namespace file="System.Text.Json.Serialization.xml" />
                    <namespace file="System.Buffers.xml" />
                    <namespace file="System.Text.Encodings.Web.xml" />
                    <namespace file="System.Text.Unicode.xml" />
                    <namespace file="Microsoft.Extensions.Configuration.xml" />
                    <namespace file="Microsoft.Extensions.Primitives.xml" />
                    <namespace file="System.ComponentModel.DataAnnotations.xml" />
                    <namespace file="System.ComponentModel.DataAnnotations.Schema.xml" />
                    <namespace file="System.Collections.Immutable.xml" />
                    <namespace file="Microsoft.Extensions.DependencyInjection.xml" />
                    <namespace file="Microsoft.Extensions.Logging.xml" />
                    <namespace file="Microsoft.Extensions.Options.xml" />
                    <namespace file="Microsoft.Extensions.Logging.Abstractions.xml" />
                    <namespace file="Microsoft.Extensions.Caching.Distributed.xml" />
                    <namespace file="System.Threading.Tasks.xml" />
                    <namespace file="Microsoft.Extensions.Caching.Memory.xml" />
                    <namespace file="System.Collections.Specialized.xml" />
                    <namespace file="System.Linq.Expressions.xml" />
                    <namespace file="System.Data.Common.xml" />
                    <namespace file="System.Diagnostics.Tracing.xml" />
                    <namespace file="System.Transactions.xml" />
                    <namespace file="System.Net.xml" />
                    <namespace file="System.Net.NetworkInformation.xml" />
                    <namespace file="System.Data.xml" />
                    <namespace file="System.Xml.XPath.xml" />
                    <namespace file="System.Xml.xml" />
                    <namespace file="System.Xml.Xsl.xml" />
                    <namespace file="System.Text.RegularExpressions.xml" />
                    <namespace file="System.Net.Mail.xml" />
                    <namespace file="System.Net.Sockets.xml" />
                    <namespace file="System.Dynamic.xml" />
                    <namespace file="System.Collections.Concurrent.xml" />
                    <namespace file="System.IO.Compression.xml" />
                    <namespace file="System.Security.Cryptography.xml" />
                    <namespace file="System.Security.Cryptography.Pkcs.xml" />
                    <namespace file="System.Security.Cryptography.X509Certificates.xml" />
                    <namespace file="System.Security.Cryptography.Xml.xml" />
                    <namespace file="System.Net.Security.xml" />
                    <namespace file="Microsoft.Extensions.Hosting.xml" />
                    <namespace file="Microsoft.AspNetCore.Builder.xml" />
                    <namespace file="Microsoft.AspNetCore.Hosting.xml" />
                    <namespace file="Microsoft.AspNetCore.Mvc.xml" />
                    <namespace file="Microsoft.AspNetCore.Mvc.Filters.xml" />
                  </targets>
                  <targets files="reflection.xml" type="Id" id="ProjectTargets" />
                </component>
                <!-- Add MSHC metadata -->
                <component id="Microsoft Help Viewer Metadata Component">
                  <data topic-version="100" toc-file="toc.xml" toc-parent="-1" toc-parent-version="100" locale="en-us" />
                </component>
                <!-- Convert language-specific text spans to script elements -->
                <component id="Language-Specific Text Component" />
                <!-- Save the result -->
                <component id="Save Component">
                  <save base="Output\MSHelpViewer\html" path="concat(/html/head/meta[@name='file']/@content,'.htm')" indent="false" omit-xml-declaration="false" add-xhtml-namespace="true" groupId="MSHelpViewer API" boundedCapacity="100" />
                </component>
              </helpOutput>
              <!-- This defines the set of components for websites -->
              <helpOutput format="Website">
                <!-- Add additional header resources -->
                <component id="Additional Header Resources Component">
                  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                  <script name="../scripts/clipboard.min.js" />
                </component>
                <!-- Resolve shared content -->
                <component id="Shared Content Component">
                  <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Components\VS2010\Content\shared_content.xml" />
                  <content file="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Components\VS2010\Content\reference_content.xml" />
                  <!-- These must be last in order to override other elements! -->
                  <content file="SHFBContent.xml" />
                  <content file="WebsiteContent.xml" />
                  <content file="AspNet.xml" />
                  <content file="CSharp.xml" />
                  <content file="FSharp.xml" />
                  <content file="JavaScript.xml" />
                  <content file="JScript.xml" />
                  <content file="JSharp.xml" />
                  <content file="ManagedCPlusPlus.xml" />
                  <content file="VisualBasic.xml" />
                  <content file="VisualBasicUsage.xml" />
                  <content file="XAML.xml" />
                  <content file="XSharp.xml" />
                </component>
                <!-- Resolve conceptual links -->
                <component id="Resolve Conceptual Links Component">
                  <showBrokenLinkText value="true" />
                  <targets base="xmlComp" type="Local" />
                </component>
                <!-- Resolve reference links -->
                <component id="Resolve Reference Links Component">
                  <locale value="en-us" />
                  <linkTarget value="_blank" />
                  <memberIdUrlCache path="C:\Users\Jordan\AppData\Local\EWSoftware\Sandcastle Help File Builder\Cache\MemberIdUrl.cache" />
                  <targets base="C:\Program Files (x86)\EWSoftware\Sandcastle Help File Builder\Data\.NET" recurse="true" files="*.xml" type="msdn" id="FrameworkTargets">
                    <namespace file="System.xml" />
                    <namespace file="System.Reflection.Emit.xml" />
                    <namespace file="System.Reflection.xml" />
                    <namespace file="System.Runtime.InteropServices.xml" />
                    <namespace file="System.Collections.xml" />
                    <namespace file="System.Collections.Generic.xml" />
                    <namespace file="System.Globalization.xml" />
                    <namespace file="System.Threading.xml" />
                    <namespace file="System.Security.xml" />
                    <namespace file="System.IO.xml" />
                    <namespace file="System.Collections.ObjectModel.xml" />
                    <namespace file="System.ComponentModel.xml" />
                    <namespace file="System.Diagnostics.xml" />
                    <namespace file="System.Runtime.xml" />
                    <namespace file="System.Runtime.CompilerServices.xml" />
                    <namespace file="System.Runtime.ExceptionServices.xml" />
                    <namespace file="System.Runtime.Versioning.xml" />
                    <namespace file="System.Text.xml" />
                    <namespace file="System.Linq.xml" />
                    <namespace file="System.Text.Json.xml" />
                    <namespace file="System.Runtime.Serialization.xml" />
                    <namespace file="System.Text.Json.Serialization.xml" />
                    <namespace file="System.Buffers.xml" />
                    <namespace file="System.Text.Encodings.Web.xml" />
                    <namespace file="System.Text.Unicode.xml" />
                    <namespace file="Microsoft.Extensions.Configuration.xml" />
                    <namespace file="Microsoft.Extensions.Primitives.xml" />
                    <namespace file="System.ComponentModel.DataAnnotations.xml" />
                    <namespace file="System.ComponentModel.DataAnnotations.Schema.xml" />
                    <namespace file="System.Collections.Immutable.xml" />
                    <namespace file="Microsoft.Extensions.DependencyInjection.xml" />
                    <namespace file="Microsoft.Extensions.Logging.xml" />
                    <namespace file="Microsoft.Extensions.Options.xml" />
                    <namespace file="Microsoft.Extensions.Logging.Abstractions.xml" />
                    <namespace file="Microsoft.Extensions.Caching.Distributed.xml" />
                    <namespace file="System.Threading.Tasks.xml" />
                    <namespace file="Microsoft.Extensions.Caching.Memory.xml" />
                    <namespace file="System.Collections.Specialized.xml" />
                    <namespace file="System.Linq.Expressions.xml" />
                    <namespace file="System.Data.Common.xml" />
                    <namespace file="System.Diagnostics.Tracing.xml" />
                    <namespace file="System.Transactions.xml" />
                    <namespace file="System.Net.xml" />
                    <namespace file="System.Net.NetworkInformation.xml" />
                    <namespace file="System.Data.xml" />
                    <namespace file="System.Xml.XPath.xml" />
                    <namespace file="System.Xml.xml" />
                    <namespace file="System.Xml.Xsl.xml" />
                    <namespace file="System.Text.RegularExpressions.xml" />
                    <namespace file="System.Net.Mail.xml" />
                    <namespace file="System.Net.Sockets.xml" />
                    <namespace file="System.Dynamic.xml" />
                    <namespace file="System.Collections.Concurrent.xml" />
                    <namespace file="System.IO.Compression.xml" />
                    <namespace file="System.Security.Cryptography.xml" />
                    <namespace file="System.Security.Cryptography.Pkcs.xml" />
                    <namespace file="System.Security.Cryptography.X509Certificates.xml" />
                    <namespace file="System.Security.Cryptography.Xml.xml" />
                    <namespace file="System.Net.Security.xml" />
                    <namespace file="Microsoft.Extensions.Hosting.xml" />
                    <namespace file="Microsoft.AspNetCore.Builder.xml" />
                    <namespace file="Microsoft.AspNetCore.Hosting.xml" />
                    <namespace file="Microsoft.AspNetCore.Mvc.xml" />
                    <namespace file="Microsoft.AspNetCore.Mvc.Filters.xml" />
                  </targets>
                  <targets files="reflection.xml" type="Local" id="ProjectTargets" />
                </component>
                <!-- Convert language-specific text spans to script elements -->
                <component id="Language-Specific Text Component" />
                <!-- Save the result -->
                <component id="Save Component">
                  <save base="Output\Website\html" path="concat(/html/head/meta[@name='file']/@content,'.htm')" indent="false" omit-xml-declaration="true" add-xhtml-namespace="false" groupId="Website API" boundedCapacity="100" />
                </component>
              </helpOutput>
            </component>
          </case>
        </component>
      </components>
    </builder>
  </dduetools>
</configuration>