@using GrayDuckMail.Common.Localization;
@model UnsubscribeModel
@{
    ViewData["Title"] = LanguageHelper.GetValue(ResourceName.View_External_Unsubscribe_Title);
}

<hgroup>
    <h1>@LanguageHelper.GetValue(ResourceName.View_External_Unsubscribe_Heading)</h1>
</hgroup>

<article>
    @if(Model.Successful)
    {
        <p>@LanguageHelper.FormatValue(ResourceName.View_External_Unsubscribe_Format_Successful, Model.UserEmail, Model.DiscussionList.Name)</p>
    }
    else
    {
        <p>@LanguageHelper.GetValue(ResourceName.View_External_Unsubscribe_Unsuccessful)</p>
    }
</article>