@{
    ViewData["Title"] = "Easy Email Discussion";
}

<hgroup>
    <h2>Welcome</h2>
    <h3>Hello! Welcome to your email lists.</h3>
</hgroup>

<article>
    <a role=button href="./List/New"><i class="icofont-ui-add"></i> Create New Discussion List</a>
</article>