<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EasyMailDiscussion.Web</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/pico.min.css" />
    <link rel="stylesheet" href="~/icofont/icofont.min.css" />
</head>
<body>
    <header class="container">
        <nav>
            <ul>
                <li><strong>Easy Mail Discussion</strong></li>
            </ul>
            <ul>
                <li><a href="#" data-theme-switcher="light"><i class="icofont-sun"></i> Light</a></li>
                <li><a href="#" data-theme-switcher="dark"><i class="icofont-moon"></i> Dark</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main class="container">
            @RenderBody()
        </main>
    </div>

    <footer class="container">
        <a href="#">Easy Mail Discussion</a> - <a href="https://picocss.com">Pico CSS</a> - <a href="https://www.icofont.com">Icofont</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="../js/minimal-theme-switcher.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
