<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EasyMailDiscussion.Web</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/pico.min.css" />
</head>
<body>
    <header class="container">
      <hgroup>
        <h1>Easy Mail Discussion</h1>
        <h2>A minimal email discussion list provider.</h2>
      </hgroup>
      <nav>
        <ul>
          <li>Theme:</li>
          <li><a href="#" data-theme-switcher="auto">Auto</a></li>
          <li><a href="#" data-theme-switcher="light">Light</a></li>
          <li><a href="#" data-theme-switcher="dark">Dark</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            EasyMailDiscussion.Web
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="../js/minimal-theme-switcher.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
