<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Easy Mail Discussion - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/pico.min.css" />
    <link rel="stylesheet" href="~/icofont/icofont.min.css" />
</head>
<body>
    <header class="container">
        <nav>
            <ul>
                <li><strong>Easy Mail Discussion</strong></li>
            </ul>
            <ul>
                <li>
                    <a href="~/List"><i class="icofont-list"></i> Discussion Lists</a>
                </li>
                <li>
                    <a href="~/Contact"><i class="icofont-ui-user-group"></i> Contacts</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main class="container">
            @RenderBody()
        </main>
    </div>

    <footer class="container">
        Find this project to be useful? Please consider <a href="https://support.jordanwages.com/">donating</a>!
        <br />
        <nav>
            <ul>
                <li><a href="https://git.jordanwages.com/wagesj45/easy-mail-discussion">Easy Mail Discussion</a></li>
                <li><a href="https://picocss.com">Pico CSS</a></li>
                <li><a href="https://www.icofont.com">Icofont</a></li>
            </ul>
        </nav>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
