@model RemoveContactModel
@{
    ViewData["Title"] = "Remove Contact?";
}

<hgroup>
    <h1>Removing @Model.Contact.Name</h1>
    <h2>Are you sure you want to remove this contact?</h2>
</hgroup>

<article>
    <div class="grid">
        <div>
            <a href="~/Contact/ConfirmRemove/@Model.Contact.ID" role="button" style="width:100%;"><i class="icofont-delete-alt"></i> Remove</a>
        </div>
        <div>
            <a href="~/Contact" role="button" class="contrast" style="width:100%;"><i class="icofont-not-allowed"></i> Cancel</a>
        </div>
    </div>
</article>